<h1>New customer</h1>

<%= render 'form' %>
<br />
<%= link_to administration_customers_path, class: 'btn btn-info' do %>
<span class="glyphicon glyphicon-arrow-left"></span> Back to the list
<% end %>